{{ define "main" }}
{{ partial "blog-filters.html" . }}

{{ $paginator := "" }}
{{ if .Params.filterCategory }}
  {{/* Página de filtro: busca posts pelo campo categories */}}
  {{ $cat := .Params.filterCategory }}
  {{ $posts := where .Site.RegularPages "Section" "blog" }}
  {{ $filtered := where $posts ".Params.categories" "intersect" (slice $cat) }}
  {{ $paginator = .Paginate $filtered }}
{{ else }}
  {{/* Página /blog/: todos os posts */}}
  {{ $paginator = .Paginate .RegularPagesRecursive }}
{{ end }}

{{ range $paginator.Pages }}
{{ partial "post-card.html" . }}
{{ end }}
{{ end }}

{{ define "after-main" }}
{{ if .Params.filterCategory }}
  {{ $cat := .Params.filterCategory }}
  {{ $posts := where .Site.RegularPages "Section" "blog" }}
  {{ $filtered := where $posts ".Params.categories" "intersect" (slice $cat) }}
  {{ partial "pagination.html" (.Paginate $filtered) }}
{{ else }}
  {{ partial "pagination.html" (.Paginate .RegularPagesRecursive) }}
{{ end }}
{{ end }}