{{- $postType := .Params.type -}}
<article class="h-entry {{ if eq $postType "image" }}e-image{{ else if eq $postType "quote" }}e-quote{{ else if eq $postType "aside" }}e-aside{{ else if eq $postType "link" }}e-link{{ end }}">
  {{ if not $postType }}
  <h2 class="p-name">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h2>
  {{ end }}

  <div class="e-content">
    {{ .Content }}
  </div>

  <p class="dt-published">
    <a href="{{ .RelPermalink }}">{{ .Date.Format "2/1/2006" }}</a>
  </p>
</article>
